---
all:
  hosts:
  vars:
    ansible_connection: ssh
    ansible_ssh_user: vagrant
    ansible_ssh_private_key_file: ~/.ssh/id_rsa.pub
    server-01:
      ansible_host: 178.154.252.126
    server-02:
      ansible_host: 178.154.255.6
prod:
  hosts:
    server-01:
      ansible_host: 178.154.252.126
    server-02:
      ansible_host: 178.154.255.6
test:
  hosts:
    server-01:
      ansible_host: 178.154.252.126
    server-02:
      ansible_host: 178.154.255.6